on_force_close "quit"
session_serialization false
theme "catppuccin-mocha"
pane_frames false
keybinds clear-defaults=true {
	normal {
		bind "Ctrl l" { FocusNextPane; }
		bind "Ctrl h" { FocusPreviousPane; }
	}
}
